/* Font | OpenDyslexic */
/* License: OFL 1.1 */
/* Style = Normal */
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 400;
  src: url('{{ with resources.Get "fonts/OpenDyslexic/OpenDyslexic-Regular.woff2" }}{{ .RelPermalink }}{{ end }}') format('woff2'),
       url('{{ with resources.Get "fonts/OpenDyslexic/OpenDyslexic-Regular.woff" }}{{ .RelPermalink }}{{ end }}') format('woff');
}
@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 700;
  src: url('{{ with resources.Get "fonts/OpenDyslexic/OpenDyslexic-Bold.woff2" }}{{ .RelPermalink }}{{ end }}') format('woff2'),
       url('{{ with resources.Get "fonts/OpenDyslexic/OpenDyslexic-Bold.woff" }}{{ .RelPermalink }}{{ end }}') format('woff');
}
/* Style = Italic */
@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  font-weight: 400;
  src: url('{{ with resources.Get "fonts/OpenDyslexic/OpenDyslexic-Italic.woff2" }}{{ .RelPermalink }}{{ end }}') format('woff2'),
       url('{{ with resources.Get "fonts/OpenDyslexic/OpenDyslexic-Italic.woff" }}{{ .RelPermalink }}{{ end }}') format('woff');
}
@font-face {
  font-family: 'OpenDyslexic';
  font-style: italic;
  font-weight: 700;
  src: url('{{ with resources.Get "fonts/OpenDyslexic/OpenDyslexic-BoldItalic.woff2" }}{{ .RelPermalink }}{{ end }}') format('woff2'),
       url('{{ with resources.Get "fonts/OpenDyslexic/OpenDyslexic-BoldItalic.woff" }}{{ .RelPermalink }}{{ end }}') format('woff');
}
/* Style = Mono */
@font-face {
  font-family: 'OpenDyslexicMono';
  font-style: normal;
  font-weight: 400;
  src: url('{{ with resources.Get "fonts/OpenDyslexic/OpenDyslexicMono-Regular.otf" }}{{ .RelPermalink }}{{ end }}') format('opentype');
}
