/* Links */
a {
  color: var(--hg-link-color);
}
a:hover,
a:focus {
  color: var(--hg-link-hov-color);
}
/* Icons */
.icon {
  display: inline-block;
  line-height: 0;
}
.icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
