.portfolio {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	width: 100%;
}

.portfolio li {
	display: inline-block;
	margin: 12px 6px 6px 6px;
	vertical-align: top;
}

.portfolio li.toggled {
	/* thumbnail height + expanded height + .portfolio-content margins (20*2+10) */
	height: calc(var(--hg-thumb-size) + var(--hg-expand-size) + 50px);
}

.portfolio .btn, .portfolio .btn:focus {
  box-shadow: none;
	padding: 0;
}

.portfolio .btn,
.portfolio .btn img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.portfolio .btn img {
	max-height: var(--hg-thumb-size);
	max-width: 80vw;
}

.portfolio .btn:not(.collapsed)::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: var(--bs-info);
	border-width: 15px;
	left: 50%;
	margin: -19px 0 0 -15px;
}

.portfolio-content {
  height: 500px;
	position: absolute;
	background: white;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	height: 0;
}

.portfolio-content img {
	margin: 20px;
	max-height: var(--hg-expand-size);
	max-width: 80%;
}

.portfolio-content h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.portfolio-content p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}
