{{/* Bootstrap */}}
{{ $bootstrapSRC := default false (.Site.Params.hodgBootstrapCDN) }}
{{ if eq $bootstrapSRC "cdnjs" }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ else if eq $bootstrapSRC "jsdelivr" }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-9SEPo+fwJFpMUet/KACSwO+Z/dKMReF9q4zFhU/fT9M=" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ else }}
  {{ $bootstrap := resources.Get "plugins/bootstrap/bootstrap.bundle.min.js" }}
  {{ $bootstrapSRI := $bootstrap | resources.Fingerprint "sha384" }}
  <script src="{{ $bootstrap.RelPermalink }}" integrity="{{ $bootstrapSRI.Data.Integrity }}"></script>
{{ end }}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script src="/js/debouncedresize.js"></script>
<script src="/js/modernizr.custom.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/grid.js?v=0.3.4"></script>
<script>
    $(function() {
        Grid.init();
    });
</script>
